
*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
}

body{

    background-color: rgb(122, 122, 151);
}
@font-face {
    font-family: 'delinda';
    src: url('Delinda Agatha.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}
.cabe{
    font-family: 'delinda';
    font-size: 70px;
    text-align: center;
    border-top: 0.6px solid rgb(230, 234, 241);
    border-bottom: 0.6px solid rgb(230, 234, 241);
    margin-bottom: 30px;
}
.parteum{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
    text-align: center;

}
.partedois{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
    text-align: center;
}
.partetres{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
    text-align: center;

}
.rodape{
    border-top: 0.6px solid rgb(230, 234, 241);
    border-bottom: 0.6px solid rgb(230, 234, 241);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
}
.imagem{
    max-width: 50px;
    max-height: 50px;
}